/AnimateMulitple
/Animations
/AnimationsWithBooleans
/AnimationsWithBooleansAndObjects
/BasicInputGradualChange
/DragNDrop
/Empty
/Greenthing copy
/Keyboard
/MultipleDifferent
/Multiples
/Strategies
/UserInput